<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img src="assets/img/logoText.png" height="60px"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Iniciar sesión</ion-card-title>
      <img src="assets/img/portadalogin.png" height="40%" width="100%" class="ion-text-center"/>
      
      <ion-input class="user" type="text" placeholder="Usuario"></ion-input>
      <ion-input class="password" type="password" placeholder="Contraseña"></ion-input>
      
      <ion-button class="ion-text-center" (click)="setOpen(true)">Iniciar sesión</ion-button>

      <ion-alert
        [isOpen]="isAlertOpen"
        header="Welcome!"
        subHeader="Bienvenido!"
        message="Bienvenido a nuestra pagina Retro Respawn."
        [buttons]="alertButtons"
        (didDismiss)="setOpen(false)"
        cssClass="custom-alert-colors"
      ></ion-alert>

      <ion-label class="ion-text-center">¿No tienes una cuenta?</ion-label>
      <ion-button class="ion-text-center" href="/register">Registrarse</ion-button>
    </ion-card-header>
  </div>
</ion-content>