<ion-header [translucent]="true">
   <ion-toolbar>
    <ion-title class="ion-text-center">
      <img src="assets\img\logoText.png" height="60px"/>
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar show-cancel-button="always" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
    <div class="divlista">
      <ion-list>
      @for (item of items; track item; let index = $index) {
      <ion-item>
         <ion-avatar slot="start">
           <img src="assets\img\project_zomboid.jpg">
         </ion-avatar>
         <ion-label class="juego" >Project Zomboid $227</ion-label>
       </ion-item>
       }
      </ion-list>
    </div>

    <div class="resumen">
      <p class="juego">Resumen:</p>
      <p class="juego">Articulos: 1</p>
      <p class="juego">Total:</p>
      <div class="pagar">
        <ion-button shape="round" class="pay">Pagar</ion-button>
      </div>
    </div>

  </ion-content>  
  <ion-tab-bar slot="bottom">
  <ion-tab-button href="/home">
    <ion-icon name="home"></ion-icon>
    <ion-label class="tabbtn">Inicio</ion-label>
  </ion-tab-button>
  <ion-tab-button href="/cart">
    <ion-icon name="cart"></ion-icon>
    <ion-label class="tabbtn">Carrito</ion-label>
  </ion-tab-button>
  </ion-tab-bar>

