ion-list{
    background-color: #ac8bc5;
}
ion-item{
    --background: #e6d5d5;
}
ion-searchbar{
  --background: #ffffff;
  color: black;
  --border-radius: 14px;
  height: 40px;
  max-width: 500px;
  margin: auto;
}
.divlista{
    padding: 50px;
    background-color: #ac8bc5;
}
.juego{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
