/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

ion-content {
  --background: #ac8bc5; // tu color
}

@font-face {
  font-family: Gameplay;
  src: url('./assets/fonts/Gameplay.ttf');
  font-weight: normal;
  font-style: normal;

}
ion-toolbar{
  --background: #e6d5d5;
  --color: black;
}
/* Esto va en global.scss */
.custom-alert-colors {
  --background: #ac8bc5 !important; /* Color de fondo del cuadro */
  --backdrop-opacity: 0.7; /* Opacidad del fondo oscuro de atrás */
  
  /* Forzar color de los textos */
  .alert-wrapper {
    background: #ac8bc5 !important;
    border: 2px solid #e6d5d5; /* Un borde para que se vea más retro */
    border-radius: 20px;
  }

  .alert-title, 
  .alert-sub-title, 
  .alert-message {
    color: #ffffff !important; /* Texto en blanco para que resalte */
  }

  .alert-button {
    color: #e6d5d5 !important; /* Color de los botones (Aceptar/Cancelar) */
    font-weight: bold;
  }
}

.custom-alert-colors .alert-wrapper {
  background: #ac8bc5 !important;
  border: 2px solid #e6d5d5;
}

.custom-alert-colors .alert-title,
.custom-alert-colors .alert-sub-title,
.custom-alert-colors .alert-message {
  color: #ffffff !important;
}

.custom-alert-colors .alert-button {
  color: #e6d5d5 !important;
  font-weight: bold;
}


