<ion-header [translucent]="true">
   <ion-toolbar>
    <ion-title class="ion-text-center">
      <img src="assets\img\logoText.png" height="60px"/>
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar show-cancel-button="always" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <hr>
<ion-text class = "text-title">Categorias de videojuegos</ion-text>
<hr>
<ion-card button = "true">
  <ion-card-header>
    <ion-card-title>Shooters</ion-card-title>
    <img class= "img-title" src="assets\img\Shooters.jpg"/>

  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card> 

<ion-card button = "true" >
  <ion-card-header>
    <ion-card-title>Mundo abierto</ion-card-title>
    <img class= "img-title" src="assets\img\MundoAbierto.jpg"/>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card button = "true" >
  <ion-card-header>
    <ion-card-title>Horror</ion-card-title>
    <img class= "img-title" src="assets\img\Horror.jpg"/>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card button="true">
  <ion-card-header>
    <ion-card-title>Plataformas</ion-card-title>
    <img class= "img-title" src="assets\img\Plataformas.jpg"/>

  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card button="true">
  <ion-card-header>
    <ion-card-title>RPG</ion-card-title>
    <img class= "img-title" src="assets\img\RPG.jpg"/>

  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card button="true">
  <ion-card-header>
    <ion-card-title>Aventura</ion-card-title>
    <img class= "img-title" src="assets\img\Aventuras.jpg"/>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>
</ion-content>
