<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <img src="assets\img\logoText.png" height="60px"/>
      
    </ion-title>
    <ion-searchbar></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
<ion-card button = "true">
  <ion-card-header>
    <ion-card-title>Shooters</ion-card-title>

  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card> 

<ion-card button = "true" >
  <ion-card-header>
    <ion-card-title>Mundo abierto</ion-card-title>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card button = "true" >
  <ion-card-header>
    <ion-card-title>Horror</ion-card-title>

  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card button="true">
  <ion-card-header>
    <ion-card-title>Plataformas</ion-card-title>

  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card button="true">
  <ion-card-header>
    <ion-card-title>RPG</ion-card-title>

  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card button="true">
  <ion-card-header>
    <ion-card-title>Aventura</ion-card-title>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>
</ion-content>
