<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <img src="assets\img\logoText.png" height="60px"/>
      
    </ion-title>
    <ion-searchbar></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-card>
  <ion-card-header>
    <ion-card-title>Shooters</ion-card-title>

  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card >
  <ion-card-header>
    <ion-card-title>Mundo abierto</ion-card-title>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card >
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card >
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card >
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>

<ion-card >
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>
</ion-content>
